@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Dancing+Script:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body{
  margin:0;
  background:#050816;
  color:white;
  font-family:sans-serif;
  overflow-x:hidden;
}

.handwritten{
  font-family:"Dancing Script";
}

.elegant{
  font-family:"Cormorant Garamond";
}